@import "compless/all";

body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 30px;
	font-weight: 300;
}

#index {
	#container {
		width: 600px;
		margin: 100px auto;
		text-align: center;
	}

	h1 {
		font-weight: bold;
		font-size: 40px;
		margin: 20px 0px;
	}

	p {
		margin: 20px 0px;
	}

	#loginRegister {
		position: relative;

		#loginForm, #registerForm {
			position: absolute;
			top: 0;
			width: 100%;
			background: #fff;
			border: 3px solid gray;
			padding: 30px;
		}
	}
}

@appWidth: 960px;

#mainHeader {
	height: 60px;
	border-bottom: 1px solid #DBDBDB;
	.box-shadow(rgba(0,0,0,.1) 0px 0px 15px);

	.widthContainer {
		position: relative;
		width: @appWidth;
		margin: 0px auto;
	}

	h1 {
		text-align: center;
	}

	#userInfo {
		position: absolute;
		right: 0px;
		top: 0px;
	}

}

.app-page #main {
	width: @appWidth;
	margin: 0px auto;
}

.fancyButton (@buttonColor: #ec528d) {
	@buttonGradient1: hsla(338, 90%, 80%, .8);
	@buttonGradient2: hsla(338, 90%, 70%, .2);

    display: inline-block;
    margin: 10px;
    .border-radius(8px);
    .box-shadow(#c5376d 0 8px 0, rgba(0, 0, 0, .35) 0 15px 20px);
    font-size: 16px;
    color: #fff;

    span {
	    display: inline-block;
	    padding: 12px 25px;
	    background-color: @buttonColor;
	    .linear-gradient(@buttonGradient1, @buttonGradient2);
	    .border-radius(8px);
	    .box-shadow(rgba(255, 255, 255, .15) 0 -1px 1px inset);
	    line-height: 1;
	    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
	    font-weight: 500;
	}
	
	&:hover span {
	    background-color: #ec6a9c;
	    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
	}

	&:active, &:focus {
	    .box-shadow (#c5376d 0 4px 0, rgba(0, 0, 0, .3) 0 6px 10px);
	    position: relative;
	    top: 4px;
	}
}

.button {
	.fancyButton;
}

.upload-thumb {
	position: relative;

	img {
		width: 100%;
	}
}

.progressbar {
	height: 20px;
	background: rgba(255,255,255, .85);
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;

}

#drop-area {
	padding: 40px;
	border: 4px dashed #CFCFCF;

	&.dragover {
		border-color: #ADADAD;
		background: rgba(0,0,0,.03);
	}
}