{% extends "base.html" %}

{% block scripts %}
<script src="/static/js/index.js" type="text/javascript"></script>
{% endblock %}

{% block bodyId %}index{% endblock %}

{% block content %}

<div id="container">
	<h1 class="big-logo">Turkeytree</h1>

	<p class="intro">Easily share photos from the same trip<br /> or special occasion</p>

	<div id="loginRegister">
		<a id="loginButton" class="button"><span>Login</span></a>
		<a id="registerButton" class="button"><span>Register</span></a>
	</div>
</div><!-- #container -->

{% endblock %}