<div id="loginForm">
	<a href="" class="close-button">Close</a>
	
	<h1>Login</h1>

	<form action="/login" method="POST">
		<div class="form-item">
			<label>Email:</label>
			<input name="email" type="text" placeholder="email" />
		</div>

		<div class="form-item">
			<label>Password:</label>
			<input name="password" type="password" placeholder="password" />
		</div>

		<button type="submit" value="submit"><span>Submit</span></button>
	</form>

	or <a href="/register">register</a>
</div><!-- #loginForm -->