{% extends "app_base.html" %}

{% block scripts %}
	<script type="text/javascript" src="/static/js/upload.js"></script>
	<script type="text/javascript">
		var ALBUM_ID = "{{ album['_id'] }}";
	</script>
{% endblock %}

{% block bodyId %}home{% endblock %}

{% block main %}

upload some pics to the album {{ album['name'] }}, yo.
<form action="/album/{{ album['_id'] }}/upload" method="POST">
	<input id="fileids" type="hidden" name="fileids" value="" />
	<input id="submit-button" type="submit" style="display: none" />
</form>

<div id="drop-area">
drop files here
</div>

{% endblock %}
